@font-face {
font-family: sans-serif;
  }

body{
font-family: sans-serif;
  text-size: small;
}

#nav{
	font-size: large;
	color:white;
	background-color: #136e9c;
	padding: 10px;

	position: absolute;
	width: 20%;
	left: 80%;
}

#nav table{
	border-collapse: collapse;
	margin: 0px;
}
#nav td{
	font-size: 10pt;
	}
#nav tr{
	border: solid #105e85 1px;
}
#nav a{
	color: white;
	text-decoration: none;
}
#nav a:hover{
	text-decoration: underline;
}
#nav h1{
		margin: 1px;
}
#nav h1 a{
	font-size: small;
	color: white;
	text-decoration: underline;
}
.content {display:none;}
.content table{
	color: white;
	font-size: medium;
	width: 95%;
	border: none;
}
.content tr{
	font-size: medium;
	border: solid black 1px;
	background-color: #136e9c;
}
.content td{
	font-size: medium;
	border: none;

}


#A4{
	width:297mm;
	height:210mm;

	display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-align:center;
  -webkit-box-pack:center;

	page-break-after: always;


}
#A5{
	padding: 5mm;
	width:148mm;
	height:210mm;

	display:-webkit-box;
 -webkit-box-orient:vertical;


}
.left{
	-webkit-box-align:left;
  -webkit-box-pack:left;
  text-align:left;
}

.right{
	-webkit-box-align:right;
  -webkit-box-pack:right;
  text-align:right;
}

.center{
	-webkit-box-align:center;
  -webkit-box-pack:center;
}
.logo{
	width: 100%;
	margin: 0px;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}
.school_title{
	width: 100%;
	margin: 0px;

	font-size: xx-large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;
}
.subtitle{
	width: 100%;
	margin: 0px;

	font-size: x-large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}
.location{
	width: 100%;
	margin: 0px;

	font-size: x-large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}

.doc_title{
	width: 100%;

	margin: 0px;

	font-size: x-large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}
.phone_number{
	width: 100%;
	margin: 0px;

	font-size: x-large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}
.website{
	width: 100%;
	margin: 0px;

	font-size: large;

	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;

}

.comment_title{
	width: 100%;
	margin: 0px;

	background-color: rgb(196,196,196);
	border:1px solid black;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-box-orient:vertical;



}

.commentblock{
	width: 100%;
	height: 20%;
	margin: 0px;

	border:1px solid black;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:left-top;
	-webkit-box-orient:vertical;

  font-size: x-small;


}
table{
	border-collapse: collapse;
	margin: 6mm 0mm 0mm 6mm;
}
.border{
	border:1px solid black;
}
td.right{
	text-align: right;
}
td.left{
	text-align: left;
}

.sectiontitle{
	font-weight: bold;
	background-color: rgb(240,240,240);
	font-size: small;
	text-align: right;
}
.sectiontitlecenter{
	font-weight: bold;
	background-color: rgb(240,240,240);
	font-size: small;
	text-align: center;
}
.sectiontitlecenterfixed{
	font-weight: bold;
	background-color: rgb(240,240,240);
	font-size: small;
	text-align: center;
	width: 1.5cm;
}
.editGrade{
	font-weight: bold;
  font-size: small;
}
.editEffort{
	font-weight: bold;
  font-size: small;
}
.rowtitle{
	font-size:small;
}
.row{
	font-size:x-small;
}
